.socials {
  position: absolute;
  bottom: 6vh;
  left: 0;
  right: 0;
  align-items: center;
  text-align: center;
}

.favi {
  display: inline-flex;
  height: 4%;
  width: 4%;
  align-items: center;
  padding: 0 10vh;
}

.author {
  position: absolute;
  font-family: "Teko", sans-serif;
  color: white;
  text-align: right;
  font-size: 4vh;
  margin-bottom: 0vh;
  bottom: 0;
  right: 1vh;
}

.on {
  font-family: "Space Mono", monospace;
  color: white;
  text-align: center;
  font-size: 5vh;
}

.inputbox {
  position: block;
  font-family: "Space Mono", monospace;
  background-color: #c4c4c4;
  color: #707070;
  font-size: 4.5vh;
  width: 60%;
  margin-left: 20%;
  height: 5.5vh;
}

.submit {
  padding: 0 0.5vh;
  font-family: "Space Mono", monospace;
  background-color: #c4c4c4;
  position: relative;
  text-align: center;
  vertical-align: center;
  font-size: 3vh;
  bottom: -1vh;
  width: 30%;
  height: 4vh;
  margin-left: 35%;
  color: #707070;
  transition: all 0.5s ease-in-out;
}

.submit:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

@media only screen and (max-width: 900px) {
  .linktree {
    display: block;
    position: absolute;
    font-family: "Teko", sans-serif;
    background-color: white;
    color: black;
    font-size: 5vh;
    right: 0;
    left: 0;
    width: 99.75%;
    height: 6.25%;
    bottom: 6vh;
    transition: all 0.5s ease-in-out;
    border: 1px solid white;
  }
  .linktree a:hover,
  .linktree a:link,
  .linktree a:visited,
  .linktree a:active {
    text-decoration: none;
    color: inherit;
  }
  .linktree:hover {
    border: 1px solid white;
    background-color: black;
    color: white;
  }
}
