@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  display: block;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.bodytitle {
  display: fixed;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20vh;
  line-height: 20vh;

  color: #ffffff;
}

.nav {
  overflow: hidden;
  top: 10vh;
  width: 100%;
  text-align: center;
  font-family: "Space Mono", monospace;
  transition: all 0.5s ease-in-out;
  left: 0;
}

.nav a {
  display: inline-flex;
  text-decoration: none;
  padding: 1vh 11vh;
  font-size: 4vh;
}

.active-page {
  color: #ffffff;
}

.non-active {
  color: #656565;
}

.hamburger {
  display: none;
  float: right;
}

.row {
  display: block;
  width: 36px;
  height: 4.2px;
  background-color: white;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 1415px) {
  .nav {
    position: fixed;
    margin-top: -300%;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .hamburger {
    display: block;
    margin-top: -10vh;
    margin-right: 20px;
  }

  .nav a {
    margin-top: 20px;
  }

  .nav.active {
    margin-top: 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    float: center;
    background-color: white;
    transition: all 0.5s ease-in-out;
    top: 0;
    align-items: center;
  }

  .active-page {
    color: black;
  }

  .row1.active,
  .row3.active {
    background-color: black;
  }

  .row {
    transition: all 0.5s ease-in-out;
  }
}

.hamburger.active .row:nth-child(2) {
  opacity: 0;
}

.hamburger.active .row:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .row:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
