@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");

.body {
  transition: all 0.5s ease-in-out;
}

a:hover,
.apply a:link,
.apply a:visited,
.apply a:active {
  text-decoration: none;
}

.para1 {
  color: #ffffff;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 5vh;
  padding: 0 20vh;
}

.chonk {
  margin-top: 10vh;
  margin-left: 60%;
  width: 30%;
  height: 30%;
}

.knowh4 {
  position: block;
  color: #ffffff;
  text-align: left;
  font-family: "Teko", sans-serif;
  font-size: 10vh;
  margin-top: -30%;
  margin-left: 20vh;
}

#more {
  display: none;
}

.knowuspara,
.flet {
  font-family: "Teko", sans-serif;
  color: white;
  font-size: 6vh;
  margin-left: 20vh;
}

.knowuspara {
  margin-top: -3vh;
  margin-right: 50%;
}

.rmbtt {
  background-color: black;
  color: #656565;
  margin-left: 20vh;
  font-family: "Teko", sans-serif;
  font-size: 3vh;
}

.ourvids {
  margin-top: 10vh;
}

.ourvid {
  font-family: "Teko", sans-serif;
  font-size: 7vh;
  color: white;
  text-align: center;
}

.cmsoon {
  font-family: "Teko", sans-serif;
  font-size: 10vh;
  color: white;
  text-align: center;
}

.join {
  margin-top: 10vh;
}

.joinhead {
  font-family: "Teko", sans-serif;
  font-size: 7vh;
  color: white;
  text-align: center;
}

.joinbody {
  font-family: "Teko", sans-serif;
  font-size: 5vh;
  color: white;
  margin: 0 5vh;
  text-align: center;
}

.apply {
  display: block;
  margin-top: 3vh;
  font-family: "Teko", sans-serif;
  background-color: white;
  text-align: center;
  color: black;
  font-size: 5vh;
  height: 5%;
  width: 100%;
  right: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  border: 1px solid white;
}

.apply-cont a:hover,
.apply-cont a:link,
.apply-cont a:visited,
.apply-cont a:active,
.apply-cont a {
  text-decoration: none;
  color: inherit;
}

.apply:hover {
  border: 1px solid white;
  background-color: black;
  color: white;
}

.socials {
  position: relative;
  bottom: -4vh;
  left: 0;
  right: 0;
  align-items: center;
  text-align: center;
}

.favi {
  display: inline-flex;
  height: 4%;
  width: 4%;
  align-items: center;
  padding: 0 10vh;
}

.author {
  position: relative;
  font-family: "Teko", sans-serif;
  color: white;
  text-align: right;
  font-size: 4vh;
  margin-bottom: 0vh;
  bottom: 0;
  right: 1vh;
}
@media only screen and (max-width: 1000px) {
  .hamburger {
    margin-top: -3vh;
  }

  .para1 {
    font-size: 6vw;
    padding: 0 15vh;
  }

  .knowh4 {
    font-size: 8vh;
    margin-left: 15vh;
  }

  .knowuspara,
  .flet {
    font-size: 3vw;
    margin-left: 15vh;
  }

  .rmbtt {
    margin-left: 15vh;
  }

  .joinbody {
    margin-left: 15vh;
  }
}

@media only screen and (max-width: 900px) {
  .para1 {
    font-size: 4vh;
    padding: 0 13vw;
  }

  .knowh4 {
    font-size: 7vh;
    margin-left: 13vw;
  }

  .knowuspara,
  .flet {
    margin-left: 13vw;
  }
  .rmbtt {
    margin-left: 13vw;
  }
  .joinbody {
    margin-left: 13vw;
  }
  .linktree {
    margin-top: 3vh;
    display: block;
    font-family: "Teko", sans-serif;
    background-color: white;
    color: black;
    font-size: 4vh;
    height: 5%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    transition: all 0.5s ease-in-out;
    border: 1px solid white;
  }
  .linktree a:hover,
  .linktree a:link,
  .linktree a:visited,
  .linktree a:active {
    text-decoration: none;
    color: inherit;
  }
  .linktree:hover {
    border: 1px solid white;
    background-color: black;
    color: white;
  }
}

@media only screen and (max-width: 800px) {
  .chonk {
    margin-top: 5vh;
    margin-left: 30%;
    text-align: center;
    width: 40%;
    height: 40%;
  }
  .knowh4 {
    margin-top: 4vh;
  }
  .knowuspara {
    margin-right: 0;
  }
}

@media only screen and (max-width: 740px) {
  .knowuspara {
    margin-top: -7vh;
    font-size: 4vh;
  }

  .flet {
    margin-top: 0vh;
    font-size: 4vh;
  }
}
